.features {
  padding: 0;
  padding-top: 79px;
  margin-bottom: 34px;

  &__inner {
    .inner();
    border-bottom: 2px solid #eeeeee;
    padding-bottom: 80px;
  }
  &__title {
    display: none;
  }
  &__list {
    .list-reset();
    display: flex;
    justify-content: space-between;
  }
  &__list-item {
    width: 240px;
  }
  &__list-item-image {
    margin-bottom: 17px;
  }
  &__list-item-title {
    margin: 0;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 30px;
    color: #000000;
  }
  &__list-item-text {
    font-size: 15px;
    margin-bottom: 25px;
  }
}
